/*This is the style sheet for the google-homepage*/

#nav-bar li {
    list-style-type: none;
    display: inline;
}
a:link {
    text-decoration: none;
}
#google-logo {
    display: block;
    margin: auto;
    position: relative;
    top: 250px;
}
#search-bar {
    position: relative;
    text-align: center;  
    top: 250px;
    padding: 10px;
}

input {
    width: 575px;
    border-radius: 30px;
    height: 42px;
    border: 1px solid rgb(224, 221, 221);
    outline: none;
}

input:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.21);
}

button {
    font-size: 14px;
    padding: 8px 14px 8px 14px;
    margin: 4px;
    background-color: rgba(189, 189, 189, 0.21)
    outline: none;
    display: inline-block;
    border-color: rgba(189, 189, 189, 0)
}

button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.21);
    outline:rgba(189, 189, 189, 0.21);
}
#container {
    position: relative;
    text-align: center;
    top: 250px;
}