/*This is the style sheet for the google-homepage*/

#head {
    /*display: flex;
    flex-wrap: nowrap;*/
    font-size: 14px;
}
a:link {
    text-decoration: none;
}
li {
    display: inline;
    vertical-align: middle;
    padding: 5px;
}
#left-head {
    float: left;
    padding-top: 12.1095px;
    padding-bottom: 12.1095px;
    margin-top: 10px;
    padding-left: 20px;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 10px;*/
}
#right-head {
    margin-top: 10px;
    float: right;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;*/
}
#google-app {
    position: relative;
    top: 3px;
    transform: scale(1.3);
}
#google-profile {
    position: relative;
    top: 3px;
}
#google-container {
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
}
#google-image {
}

/*.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
#nav li {
    list-style-type: none;
    display: inline;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}
a:link {
    text-decoration: none;
}
#left-nav {
    float: left;
}
#right-nav {
    float: right;
    display: flex;
    flex-wrap: nowrap;
}
#apps {
    display: block;
    top: 5px;
}

#google-logo {
    display: block;
    margin: auto;
    position: relative;
    top: 250px;
}

form {
}
#search-bar {
    display: block;
    margin: auto;
    position: relative;
    top: 250px;
}

input {
    width: 575px;
    border-radius: 30px;
    height: 42px;
    border: 1px solid rgb(224, 221, 221);
    outline: none;
}

input:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.21);
}
#mic {
    display: block;
    transform: scale(0.03);
    margin-left: 215px;
    margin-top: -283px;

}
#search {
    display: block;
    transform: scale(0.1);
    margin-top: -692px;
    margin-left: 925px;

}
button {
    font-size: 14px;
    padding: 8px 14px 8px 14px;
    margin: 4px;
    background-color: rgba(189, 189, 189, 0.21)
    outline: none;
    display: inline-block;
    border-color: rgba(189, 189, 189, 0)
}

button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.21);
    outline:rgba(189, 189, 189, 0.21);
}
#container {
    position: relative;
    text-align: center;
    top: -150px;
}

#bot-nav {
    background-color: rgba(189, 189, 189, 0.21);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 47px;
}
#bot-nav li {
    list-style-type: none;
    display: inline; 
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}
#left-footer {
    padding-inline-start: 20px;
    float: left;  
}

#right-footer {
    float: right;
    padding-inline-end: 40px;
}
*/